.family{
    text-align: center;
}

.papa{
    text-align: center;
    display: none;
}

.mom{
    text-align: center;
    display: none;
}

.diveet{
    text-align: center;
    display: none;
}

.purab{
    text-align: center;
    display: none;
}